@import "tailwindcss";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 243, 244, 246;
} */

.dark {
  /* --foreground-rgb: 255, 255, 255; */
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 31, 41, 55;
}

body {
  color: rgb(var(--foreground-rgb));
}

/* This makes sure theme transitions are smooth */
html.dark {
  color-scheme: dark;
}

* {
  transition-property: background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}